<html>
    <head>
        <title>Test code</title>
        <%- include('../components/head.ejs') %>
    </head>
    <body class="text-white open-sans-r-400 padding-1 font-size-5">
        <%- include('../components/navbar') %>

    </body>
</html>