.background-white {
    background-color: white;
}

.background-primary {
    background-color: #19376D;
}

.background-prest {
    background-color: #576CBC;
}

.background-black {
    background-color: black;
}

.background-gray {
    background-color: gray;
}

.background-green {
    background-color: green;
}

.background-blue {
    background-color: blue;
}

.background-dark-blue {
    background-color: #002147;
}

.background-light-blue {
    background-color: #ADD8E6;
}

.background-yellow {
    background-color: yellow;
}

.background-orange {
    background-color: orange;
}

.background-purple {
    background-color: purple;
}

.background-pink {
    background-color: pink;
}

.background-brown {
    background-color: brown;
}

.background-cyan {
    background-color: cyan;
}

.background-teal {
    background-color: teal;
}

.background-lavender {
    background-color: lavender;
}

.background-magenta {
    background-color: magenta;
}

.background-navy {
    background-color: navy;
}

.background-olive {
    background-color: olive;
}

.background-silver {
    background-color: silver;
}

.background-maroon {
    background-color: maroon;
}

.background-gold {
    background-color: gold;
}

.background-indigo {
    background-color: indigo;
}

.background-lime {
    background-color: lime;
}

.background-orchid {
    background-color: orchid;
}

.background-salmon {
    background-color: salmon;
}

.background-slate {
    background-color: slate;
}

.background-turquoise {
    background-color: turquoise;
}

.background-wheat {
    background-color: wheat;
}

.background-steelblue {
    background-color: steelblue;
}

.background-crimson {
    background-color: crimson;
}

.background-firebrick {
    background-color: firebrick;
}

.background-lawn-green {
    background-color: lawnGreen;
}

.background-dark-slate-gray {
    background-color: darkslategray;
}

.background-hot-pink {
    background-color: hotpink;
}

.background-royal-blue {
    background-color: royalblue;
}

.background-forest-green {
    background-color: forestgreen;
}

.background-tomato {
    background-color: tomato;
}

.background-gainsboro {
    background-color: gainsboro;
}

.background-plum {
    background-color: plum;
}

.background-coral {
    background-color: coral;
}

.background-moccasin {
    background-color: moccasin;
}

.background-dark-khaki {
    background-color: darkkhaki;
}

.background-sandy-brown {
    background-color: sandybrown;
}

.background-dark-orchid {
    background-color: darkorchid;
}

.background-cadet-blue {
    background-color: cadetblue;
}

.background-medium-sea-green {
    background-color: mediumseagreen;
}

.background-pale-violet-red {
    background-color: palevioletred;
}

.background-sienna {
    background-color: sienna;
}

.background-dark-cyan {
    background-color: darkcyan;
}

.background-medium-purple {
    background-color: mediumpurple;
}

.background-rosy-brown {
    background-color: rosybrown;
}

.background-indian-red {
    background-color: indianred;
}
