.text-muted {
   color: #c7c7c7bf;
}

.text-primary {
    color: #19376D;
 }
 
 .text-prest {
    color: #576CBC;
 }
 
 .text-white {
    color: white;
 }
 
 .text-red {
    color: red;
 }
 
 .text-black {
    color: black;
 }
 
 .text-gray {
    color: gray;
 }
 
 .text-green {
    color: green;
 }
 
 .text-blue {
    color: blue;
 }
 
 .text-dark-blue {
    color: #002147;
 }
 
 .text-light-blue {
    color: #ADD8E6;
 }
 
 .text-yellow {
    color: yellow;
 }
 
 .text-orange {
    color: orange;
 }
 
 .text-purple {
    color: purple;
 }
 
 .text-pink {
    color: pink;
 }
 
 .text-brown {
    color: brown;
 }
 
 .text-cyan {
    color: cyan;
 }
 
 .text-teal {
    color: teal;
 }
 
 .text-lavender {
    color: lavender;
 }
 
 .text-magenta {
    color: magenta;
 }
 
 .text-navy {
    color: navy;
 }
 
 .text-olive {
    color: olive;
 }
 
 .text-silver {
    color: silver;
 }
 
 .text-maroon {
    color: maroon;
 }
 
 .text-gold {
    color: gold;
 }
 
 .text-indigo {
    color: indigo;
 }
 
 .text-lime {
    color: lime;
 }
 
 .text-orchid {
    color: orchid;
 }
 
 .text-salmon {
    color: salmon;
 }
 
 .text-slate {
    color: slate;
 }
 
 .text-turquoise {
    color: turquoise;
 }
 
 .text-wheat {
    color: wheat;
 }
 
 .text-steelblue {
    color: steelblue;
 }
 
 .text-crimson {
    color: crimson;
 }
 
 .text-firebrick {
    color: firebrick;
 }
 
 .text-lawn-green {
    color: lawnGreen;
 }
 
 .text-dark-slate-gray {
    color: darkslategray;
 }
 
 .text-hot-pink {
    color: hotpink;
 }
 
 .text-royal-blue {
    color: royalblue;
 }
 
 .text-forest-green {
    color: forestgreen;
 }
 
 .text-tomato {
    color: tomato;
 }
 
 .text-gainsboro {
    color: gainsboro;
 }
 
 .text-plum {
    color: plum;
 }
 
 .text-coral {
    color: coral;
 }
 
 .text-moccasin {
    color: moccasin;
 }
 
 .text-dark-khaki {
    color: darkkhaki;
 }
 
 .text-sandy-brown {
    color: sandybrown;
 }
 
 .text-dark-orchid {
    color: darkorchid;
 }
 
 .text-cadet-blue {
    color: cadetblue;
 }
 
 .text-medium-sea-green {
    color: mediumseagreen;
 }
 
 .text-pale-violet-red {
    color: palevioletred;
 }
 
 .text-sienna {
    color: sienna;
 }
 
 .text-dark-cyan {
    color: darkcyan;
 }
 
 .text-medium-purple {
    color: mediumpurple;
 }
 
 .text-rosy-brown {
    color: rosybrown;
 }
 
 .text-indian-red {
    color: indianred;
 }
 