<!DOCTYPE html>
<html>
    <head>
      <%- include('partials/head.ejs') %>
    </head>
    <body class="text-white open-sans-r-400 padding-1 font-size-5">
        <%- include('partials/navbar') %>
        <div class="jumbotron">
            <div class="container mt-5">
              <div class="row">
                <div class="col-md-6">
                  <h1 text="Welcome to my website"></h1>
                  <p class="text-muted" text="This is the main content area of the page."></p>
                  <a link="#" class="btn btn-primary" text="Get Started"></a>
                </div>
                <div class="col-md-6">
                  <div class="mx-5 card border-none background-primary">
                    <div class="card-content text-white">
                      <h3 class="text-center" text="Build anything!"></h3>
                      <div>
                        <span></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mt-1">
                    <div class="mx-5 card border-none background-primary">
                      <div class="card-content text-white">
                        <h3 class="text-center" text="Easy to use"></h3>
                        <div>
                          <span></span>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
          
       <script src="../js/main.js"></script>
       <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    </body>
</html>
