<nav class="navbar">
    <div class="navbar-left">
      <a link="/" class="navbar-title" text="Fest-CSS"></a>
      <span class="mx-1 text-primary vertical-rule"></span>
      <ul class="navbar-links">
        <li><a link="#" text="Home"></a></li>
        <li><a link="#" text="Showcase"></a></li>
        <li><a link="#" text="Components"></a></li>
      </ul>
    </div>
    <div class="navbar-right">
      <a link="#" class="btn btn-primary" text="Install"></a>
      <a class="btn btn-primary" target="_blank" link="https://github.com/FestCSS/FestCSS/tree/main"><i class="font-size-5 fa-brands fa-github"></i></a>
    </div>
  </nav>
  