<nav class="navbar">
    <div class="navbar-left">
      <a href="/" class="navbar-title" text="Fest-CSS"></a>
      <span class="mx-1 text-primary vertical-rule"></span>
      <ul class="navbar-links">
        <li><a href="#" text="Home"></a></li>
        <li><a href="#" text="Showcase"></a></li>
        <li><a href="#" text="Components"></a></li>
      </ul>
    </div>
    <div class="navbar-right">
      <a href="#" class="btn btn-primary" text="Install"></a>
      <a href="#" class="btn btn-primary" link=""><i class="font-size-5 fa-brands fa-github"></i></a>
    </div>
  </nav>
  